<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmptyCommonLogging3NLog</title>
    @*   @Html.Raw(JSNLog.JavascriptLogging.Configure())   *@
</head>
<body>
    <h1>EmptyCommonLogging3NLog</h1>
    <script type="text/ecmascript">
        // JL("jsLogger").fatal("client log message");
        alert('nlog');
    </script>

    <div>
    </div>
</body>
</html>
